# .github/workflows/checks.yml
name: Checks

on: [push]

jobs:
  test-lint:
    name: Lint
    runs-on: ubuntu-20.04

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.MINI_GLORY_NAME }}
          password: ${{ secrets.MINI_GLORY_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: user/app:latest

      - name: Lint
        run: docker-compose -f /Users/mac/Desktop/scraping_project/ozscraping-glory/docker-compose.yml run --rm app sh -c "flake8"
        
